## Задача 1

На складе лежат разные фрукты в разном количестве.  
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [273]:
fruits = ['bananas', 'apples', 'pears', 'oranges', 'mandarins', 'lemons', 'mango'] # Список возможных фруктов
max_list_fruits = 5 # Максимальный размер рабочего списка фруктов, который сформируется случайным образом из набора fruits
max_quantity = 300 # Максимальное количество фруктов для формирования случайного списка

In [274]:
import random
random_quantity = [random.randint(0, max_quantity) for _ in range(max_list_fruits)]
random_quantity # Список с количеством

[200, 102, 133, 183, 240]

In [275]:
list_fruits = random.sample(fruits, max_list_fruits)
list_fruits # Список фруктов

['mango', 'mandarins', 'apples', 'lemons', 'bananas']

In [276]:
def create_total_fruits(list_fruits, random_quantity):
    new_dict = {}
    for i in range(len(list_fruits)):
        new_dict[list_fruits[i]] = random_quantity[i]
    return new_dict

new_list = create_total_fruits(list_fruits, random_quantity)
new_list # Словарь с фруктами и их количеством

{'mango': 200, 'mandarins': 102, 'apples': 133, 'lemons': 183, 'bananas': 240}

In [277]:
total = 0
 
for item in new_list.values():
    total += item
print(total) # Общее количество фруктов

858

## Задача 2
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты.  
Используйте list comprehensions

In [278]:
spisok = [100, 125, -90, 345, 655, -1, 0, 200]

In [279]:
new_spisok = [a for a in spisok if a >= 0]
new_spisok # Список без отрицательных значений затрат

[100, 125, 345, 655, 0, 200]

In [280]:
sum(new_spisok) # Сумма затрат

1425

## Задача 3
### Подзадача 3.1:
Даны два списка.  
Дата покупки  
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']  
Суммы покупок по датам  
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]  
Найдите, какая выручка у компании в ноябре  
Используйте list comprehensions

In [281]:
time_sale = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
sum_sale = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [282]:
def big_list(time_sale, sum_sale): # Формируем словарь из списка дат и сумм покупок
    new_list2 = {}
    for i in range(len(time_sale)):
        new_list2[time_sale[i]] = sum_sale[i]
    return new_list2

slovar = big_list(time_sale, sum_sale)
slovar

{'2021-09-14': 1270,
 '2021-12-15': 8413,
 '2021-09-08': 9028,
 '2021-12-05': 3703,
 '2021-10-09': 2732,
 '2021-09-30': 2008,
 '2021-12-22': 295,
 '2021-11-29': 4944,
 '2021-12-24': 5723,
 '2021-11-26': 3701,
 '2021-10-27': 4471,
 '2021-12-18': 651,
 '2021-11-09': 316,
 '2021-11-23': 4274,
 '2021-09-27': 6275,
 '2021-10-02': 4988,
 '2021-12-27': 6930,
 '2021-09-20': 2971,
 '2021-12-13': 6333,
 '2021-11-01': 2004,
 '2021-12-06': 519,
 '2021-12-08': 3406,
 '2021-10-31': 5015,
 '2021-10-26': 5700,
 '2021-12-09': 2887}

In [283]:
value_list = []
def extract_date(t_sale, s_sale):
    ready_list = []
    for i in range(len(t_sale)):
        if t_sale[i][5:7] == "11":
            ready_list.append(f"{t_sale[i]}: {s_sale[i]}")
            value_list.append(s_sale[i])
    return ready_list

november_list = extract_date(time_sale, sum_sale)
november_list # Список с ноябрьской выручкой

['2021-11-29: 4944',
 '2021-11-26: 3701',
 '2021-11-09: 7037',
 '2021-11-23: 4274',
 '2021-11-01: 2004',
 '2021-11-09: 2822',
 '2021-11-09: 316']

In [284]:
value_list
sum(value_list) # Общая сумма ноябрьской выручки

25098

### Подзадача 3.2
Найдите выручку компании в зависимости от месяца  
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.  
Используйте аннотирование типов.

In [285]:
import pandas as pd
import datetime
 
df = pd.DataFrame()
df['Date'] = [datetime.datetime.strptime(i, '%Y-%m-%d') for i in time_sale]
df['Sum'] = sum_sale
df['Month'] = pd.DatetimeIndex(df['Date']).month
df.groupby('Month').sum()

C:\Users\Natalya\AppData\Local\Temp\ipykernel_5696\2770447392.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Month').sum()

         Sum
Month
9      25647
10     28645
11     25098
12     45452